PORT =xxxx
MONGO_URI = xxxxxxxxx
NODE_ENV = xxxxxxx

JWT_SECRET = xxxxxxxx

RESEND_API_KEY = xxxxxxx

EMAIL_FROM = xxxxxxx
EMAIL_FROM_NAME = xxxxxxx

CLIENT_URL = xxxxxxxxxx

CLOUDINARY_CLOUD_NAME = xxxxxxx
CLOUDINARY_API_KEY= xxxxxxxx
CLOUDINARY_API_SECRET= xxxxx

ARCJET_KEY= xxxxxxxxx
ARCJET_ENV= xxxxxxxxx